<md-dialog aria-label="Costumers">
    <form>

        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Factories</h2>
                <span flex></span>
                <md-button aria-label="cancel" class="md-icon-button" ng-click="vm.cancel()">
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content>

            </md-list>

            <md-tabs md-dynamic-height md-border-bottom>
                <md-tab label="Factories">
                    <md-content class="md-padding">
                        <md-list>
                            <md-list-item class="md-2-line" ng-repeat="fact in vm.facts track by fact.id">
                                <div class="md-list-item-text">
                                    <md-checkbox ng-model="fact.on" ng-click="vm.selectItem(fact)">
                                        <h3>{{::fact.name}}</h3>
                                    </md-checkbox>
                                    <!--<p>{{item.description}}</p>-->
                                </div>
                            </md-list-item>

                    </md-content>
                </md-tab>
                <md-tab label="Add Factory">
                    <md-content class="md-padding">
                        <div>
                            <md-input>
                                Name: <input type="text"ng-model="vm.newFact.name" required>
                            </md-input>
                        </div>
                        <md-button class="btn-danger" ng-click="vm.addFact()">Add Factory</md-button>
                    </md-content>
                </md-tab>
            </md-tabs>

        </md-dialog-content>
        <md-dialog-actions layout="row">

            <span flex></span>
            <md-button aria-label="cancel" ng-click="vm.$mdDialog.hide('not useful')">
                Cancel
            </md-button>
            <md-button aria-label="submit" ng-click="vm.submit()" style="margin-right:20px;">
                Submit
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>

