<md-content flex layout="column" class="container">
    <!--<div layout="row">-->
        <!--<div class="md-padding">-->

            <!--<a ui-sref="createProject">-->
                <!--<button aria-label="Create new project" class="btn btn-primary">Create new project</button>-->
            <!--</a>-->
        <!--</div>-->
        <!--<div class="md-padding">-->
            <!--<a ui-sref="createCourse">-->
                <!--<button aria-label="createCourse" class="btn btn-success">Create new Course</button>-->
            <!--</a>-->
        <!--</div>-->

    <!--</div>-->


    <h3>Project {{vm.currProj.id}}</h3>
    <!--<div flex layout="column" class="container">-->

    <pre>{{vm.currProj}}</pre>


    <md-input-container flex>
        <label>Name</label>
        <input ng-model="vm.currProj.name">
    </md-input-container>


    <div layout="row">
        <div flex>
            <label>Costumer</label>
            <md-list>
                {{vm.costumer.name}}
            </md-list>
        </div>
        <div flex>
            <md-button aria-label="show costumers" ng-click="vm.showCostumers($event)"
                       class="btn1 md-raised md-primary">Costumers
            </md-button>
        </div>
    </div>

    <md-divider></md-divider>

    <div flex layout="row">
        <div flex>
            <label>Manager</label>
            <md-list>
                <md-list-item ng-value="val" ng-repeat="val in vm.managers">{{val.name}}</md-list-item>
            </md-list>
        </div>

        <div flex>
            <md-button aria-label="show users" ng-click="vm.showUsers($event)" class=" btn1 md-raised md-primary">
                Managers
            </md-button>
        </div>

    </div>

    <md-divider></md-divider>


    <div layout="row">
        <div flex>
            <label>Factories</label>
            <md-list>
                <md-list-item ng-value="val" ng-repeat="val in vm.factories">{{val.name}}</md-list-item>
                </md-select>
            </md-list>
        </div>
        <div flex>
            <md-button aria-label="show factories" ng-click="vm.showFactories($event)"
                       class=" btn1 md-raised md-primary">Factories
            </md-button>
        </div>
    </div>

    <md-divider></md-divider>

    <div layout="row">
        <div flex>
            <label>Languages</label>
            <md-list>
                <md-list-item ng-value="val" ng-repeat="val in vm.langs">{{val.name}}</md-list-item>
            </md-list>
        </div>
        <div flex>
            <md-button aria-label="Languages" ng-click="vm.showLanguages($event)" class=" btn1 md-raised md-primary">
                Languages
            </md-button>
        </div>

    </div>

    <md-divider></md-divider>

    <div layout="row">
        <div flex>
            <label>Courses</label>
            <md-list>
                <md-list-item ng-value="val" ng-repeat="val in vm.courses">{{val.name}}</md-list-item>
            </md-list>
        </div>
        <div flex>
            <md-button aria-label="show courses" ng-click="vm.showCourses($event)" class=" btn1 md-raised md-primary">
                Courses
            </md-button>
        </div>
    </div>

    <md-divider></md-divider>

    <md-button aria-label="submit" layout="row" class="btn1 md-raised md-button dd-button" ng-click="vm.updateProj()">
        Submit
    </md-button>

    <md-button aria-label="cancel" layout="row" class="btn1 md-raised md-button dd-button" ng-click="vm.cancel()">
        Cancel
    </md-button>
    <!--<button class="btn btn-info" ng-click="vm.createProj()">Create Project</button>-->
    <hr>
    <!--<pre>-->
    <!--{{vm.projects | json}}-->
    <!--</pre>-->

</md-content>
