<h1 translate="access">Access</h1>



<!--<span translate="hello">Hello</span>-->


<div>

    <md-content>
        <div layout="column">
            <md-input-container>
                <label>Name</label>
                <input ng-model="vm.name">
            </md-input-container>
            <md-input-container>
                <label>Password</label>
                <input ng-model="vm.Password" type="PASSWORD">
            </md-input-container>
            <button class="btn btn-default" ng-click="vm.submit()">Submit</button>
        </div>
    </md-content>

</div>
</div>
</div>
